body {
    
}

#homeimg {
    background-color: black;
}

/* Navigation Bar Styles */

nav ul {
    position: fixed;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 1% 3% 1% 3%;
    color: white;
    transition-duration: .2s;
}

nav a:hover, #active {
    color: darkgray;
}

/* Header Styles */

/* header {
    font-size: 2em;
    text-align: center;
    padding: 2%;
} */

/* Body Styles */

.text {
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 5%;
}

div#homeimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}